@charset "UTF-8";

body {
    font: normal 15pt Arial;
    
    background-color: rgb(70, 142, 236);
}

header, footer {
    text-align: center;

    color: white;
}

section {
    width: 500px;
    padding: 15px;
    margin: auto;

    box-shadow: 3px 3px 10px #0000005d;
    border-radius: 10px;
    background-color: white;
}

div {
    padding: 8px;
    text-align: center;
}

footer {
    font-style: italic;
}